.root {
	color: #666;
	font-family: 'Baloo Paaji', cursive;
}

.queryAgent {
    resize: none;
}

.responseAgent {
	text-align: right;
	border: 3px solid #90C3D4;
	border-radius: 10px;
	margin-bottom: 10px;
	color: #479cb8;
	height: 25px;
	margin-left: 200px;
}

h1 {
	text-align: center;
}

textarea {
	border: 3px solid #90C3D4;
	border-radius: 10px;
	width: 100%;
	color: #DF3232;
	margin-right:200px;
}

.mic-buttons {
	width: 100%;
}

.mic-buttons > .btn {
	width: 50%;
	height: 100px;
}

.fa {
	font-size: 5em;
}