.root {
	color: #666;
	font-family: 'Baloo Paaji', cursive;
}

.queryAgent {
    resize: none;
}

h1 {
	text-align: center;
}

textarea {
	border: 3px solid #cccccc;
	border-radius: 10px;
	width: 100%;
}

.mic-buttons {
	width: 100%;
}

.mic-buttons > .btn {
	width: 50%;
	height: 200px;
}

.fa {
	font-size: 11em;
}